<!DOCTYPE html>
<html>
 <head>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
  </script>

<style>
.nav-wrapper  {
    background-color: #a5d6a7  !important;
    font-size: 14px;
  }
  
.dropdown-button  {
    background-color: #388e3c  !important;
    font-size: 13px;

  }  

.right-triangle {
     float: right;
}

.dropdown-nested {
      overflow : visible;
    
}

.dropdown-content .dropdown-content {
      margin-left: 100%;
 
</style>





</head>


<body> 

<div class="container">
<!-- Dropdown Structure -->
 
  </ul>

  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Logo</a>
      <ul class="right  ">
      
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-button" href="#!" data-activates="dropdown1">Materialize<i class="material-icons right" data-beloworigin="true">arrow_drop_down</i>
          </a>
        </li>



          <li class="active"><a href=" ">jQuery</a></li>

          <li><a href=" ">CSS</a></li>
          <li><a href=" ">HTML</a></li>
          <li><a href="">Java</a></li>
      </ul>
    </div>
  </nav>
     


    <ul id="dropdown1" class="dropdown-content dropdown-nested">
      <li><a href=" ">Modal</a></li>
      <li><a href=" ">Buttons</a></li>

      {% for cat in categories %}
      <li><a href="{{cat.category_slug}}", style="color:#000">{{cat.tutorial_category}}</li>
      {% endfor %}
      
      <li><a class='dropdown-button' href='#' data-activates='dropdown2' data-hover="hover" data-alignment="left">one<span class="right-triangle">&#9656;</span></a></li>

      <li class="divider"></li>
    
    </ul>

    <ul id='dropdown2' class='dropdown-content dropdown-nested'>
        <li><a href="#!">dasdasdasd</a></li>
         
        <li><a href="#!">three</a></li>
    </ul>   
</div>


          <h1>hello</h1>

         {% for cat in categories %}
            <p>{{cat.tutorial_category}}
            {{cat.category_summary}}</p>
         {% endfor %}








</body>   
</html>


 

