 

  <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>           
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
  </script>

 
 
<!-- Dropdown Structure -->

        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-button" href="#!" data-activates="dropdown1">Categories<i class="material-icons right" data-beloworigin="true">arrow_drop_down</i>
          </a>
        </li>
        
     

        <!-- Dropdown 1 -->
    <ul id="dropdown1" class="dropdown-content dropdown-nested">
      <li><a href=" ">Modal</a></li>
      <li><a href=" ">Buttons</a></li>


      <li><a class='dropdown-button' href='#' data-activates='dropdown2' data-hover="hover" data-alignment="left">one<span class="right-triangle">&#9656;</span></a></li>

      <li class="divider"></li>
    
    </ul>

       <!-- Dropdown 1 -->
    <ul id='dropdown2' class='dropdown-content dropdown-nested'>
        <li><a href="#!">dasdasdasd</a></li>
         
        <li><a href="#!">three</a></li>
    </ul>   
 

 
 


 

